.reveal {
    float: left;
    width: 100%;
    .panel-indent {
        margin-top: $govuk-gutter-half / 2;
        margin-bottom: $govuk-gutter-half;
    }
}

fieldset + .reveal {
    margin-top: -$govuk-gutter-half;
    margin-bottom: $govuk-gutter-half;
    @include govuk-media-query(tablet) {
        margin-top: -$govuk-gutter;
        margin-bottom: $govuk-gutter;
    }
}
